@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

header {
  margin-bottom: 36px;
}

.header-title__wrapper {
  /* background-color: #534D41; */
  background: radial-gradient(circle, rgba(83,77,65,1) 0%, rgba(17,15,13,1) 100%);
  padding: 36px 0;
  -webkit-box-shadow: -1px 6px 18px 3px rgba(174,167,152,1);
  -moz-box-shadow: -1px 6px 18px 3px rgba(174,167,152,1);
  box-shadow: -1px 6px 18px 3px rgba(174,167,152,1);
}

.header-title__wrapper h1 {
  color: #FFFFFF;
  margin: unset;
}

.footer {
  background-color: #534D41;
  color: #FFFFFF;
  height: 300px;
  padding: 36px 0;
  margin-top: 48px;
}

body {
  font-family: "Lora", serif;
  background: #F2E2BA;
}

h1, h2, h3, h4, h5, h6, .heading-font {
  font-family: "Arsenal SC", sans-serif;
}

ul {
  list-style-type: none;
  padding-right: 40px;
}

.max-width {
  max-width: 1440px;;
}

.padding-large {
  padding: 24px;
}

.book-wrap {
  overflow: hidden;
  position: relative;
}

.item-background {
  opacity: 0.1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.book-content {
  position: relative;
  display: flex;
  gap: 32px;
  align-items: center;
  margin-bottom: 64px;
}

.book-content h2,
.book-content p {
  text-align: left;
  max-width: 750px;
  padding-right: 24px;
}

.spacer {
  height: 150px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.link {
  color: #000000;
  text-decoration: none;
}

.link-faux {
  display: block;
  text-align: left;
  font-weight: 700;
}

.link-faux:hover {
  text-decoration: underline;
}

/* contact form styles */
.contact-form {
  display: flex;
  flex-flow: row wrap;
  column-gap: 8px;
  text-align: left;
  max-width: 500px;
  margin: 0 auto;
}

.contact-form label {
  display: inline-block;
  width: 100px;
  font-size: 14px;
}

.contact-form input,
.contact-form textarea {
  background: #F2E2BA;
  border: none;
  border-bottom: 2px solid #AEA798;
}

.input-wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  flex: 1 1 48%;
}

.input-wrap.input-wrap__message {
  flex: 0 0 100%;
}

form button {
  padding: 16px;
  background-color: #F2E2BA;
  border: 1px solid #AEA798
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
